# Aggregating Student Logs

In [1]:
import pandas as pd
import numpy as np

## Load the Entire Dataset

In [2]:
concat_dataset_path = 'concat data_q1_cleaned_fixed.csv'

df = pd.read_csv(concat_dataset_path, encoding= 'unicode_escape')

In [3]:
df.head()

,Time,User full name,Affected user,Event context,Component,Event name,Description
0,9/9/20 12:00 AM,14328.0,NaN,Open Forum: Announcements,Open Forum,Course module viewed,The user with id '14328' viewed the 'hsuforum'...
1,9/9/20 12:00 AM,5809.0,NaN,Other,System,Course viewed,The user with id '5809' viewed the course with...
2,9/9/20 12:00 AM,12711.0,NaN,Front page,System,Course viewed,The user with id '12711' viewed the course wit...
3,9/9/20 12:00 AM,2820.0,2820.0,Course: 5919,System,User profile viewed,The user with id '2820' viewed the profile for...
4,9/9/20 12:00 AM,13778.0,NaN,Course: 4531,System,User list viewed,The user with id '13778' viewed the list of us...

In [4]:
df.shape

(1394309, 7)

In [5]:
df.iloc[2, 6]

"The user with id '12711' viewed the course with id '1'."

## Getting Student IDs from the Entire Dataset

In [6]:
# Path of the csv file containing student ids
student_ids_path = 'AS_STUDENT.csv'

student_id_df = pd.read_csv(student_ids_path)

# Get the IDs from the ID column
student_ids = student_id_df['User full name']

# Put all the ids in a list
student_ids = student_ids.values.tolist()

In [7]:
student_df = df[df['User full name'].isin(student_ids)]
student_df.head()

,Time,User full name,Affected user,Event context,Component,Event name,Description
0,9/9/20 12:00 AM,14328.0,NaN,Open Forum: Announcements,Open Forum,Course module viewed,The user with id '14328' viewed the 'hsuforum'...
1,9/9/20 12:00 AM,5809.0,NaN,Other,System,Course viewed,The user with id '5809' viewed the course with...
2,9/9/20 12:00 AM,12711.0,NaN,Front page,System,Course viewed,The user with id '12711' viewed the course wit...
3,9/9/20 12:00 AM,2820.0,2820.0,Course: 5919,System,User profile viewed,The user with id '2820' viewed the profile for...
4,9/9/20 12:00 AM,13778.0,NaN,Course: 4531,System,User list viewed,The user with id '13778' viewed the list of us...

In [18]:
student_df.shape

(1055911, 7)

## Getting the info of the students

In [8]:
def getstudents(student_ids):
    
    blank = pd.DataFrame(columns = ['ID']) 
    final = pd.DataFrame(columns = ['ID'])
        
    counter = 0

    for student in student_ids:
    
        certain_student = df[df['User full name'] == student]
        info = certain_student['Event name'].value_counts()
        
        # Make the Dataframe
        
        frame = info.to_frame()
        frame = frame.transpose()
        
        # Inserting the ID into the dataframe
        frame.insert(0, 'ID', student)
        
        if counter == 0:
            total_df = pd.concat([blank,frame], axis=0, ignore_index=True)
            counter += 1
        else: 
            total_df = pd.concat([total_df,frame], axis=0, ignore_index=True)
            counter += 1
        
    
    return total_df

In [9]:
final_df = getstudents(student_ids)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:25: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [10]:
final_df.to_csv('hello.csv')

## Editing the Dataframe

In [11]:
agg_df = pd.read_csv('hello.csv')

In [12]:
agg_df.head()

,Unnamed: 0,A file has been uploaded.,A submission has been submitted.,A submission has been uploaded.,Activity report viewed,All Responses report viewed,All Responses saved as text,All the submissions are being downloaded.,An online text has been uploaded.,Attempt resumed,...,User unenrolled from course,User unenrolment updated,User updated,Wiki history viewed,Wiki page created,Wiki page locks deleted,Wiki page map viewed,Wiki page updated,Wiki page viewed,Zip archive of folder downloaded
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
agg_df = agg_df.set_index('ID')

In [14]:
agg_df = agg_df.drop('Unnamed: 0', 1)

In [15]:
agg_df.head()

,A file has been uploaded.,A submission has been submitted.,A submission has been uploaded.,Activity report viewed,All Responses report viewed,All Responses saved as text,All the submissions are being downloaded.,An online text has been uploaded.,Attempt resumed,Badge awarded,...,User unenrolled from course,User unenrolment updated,User updated,Wiki history viewed,Wiki page created,Wiki page locks deleted,Wiki page map viewed,Wiki page updated,Wiki page viewed,Zip archive of folder downloaded
ID,,,,,,,,,,,,,,,,,,,,,
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
agg_df.shape

(11736, 154)

In [16]:
agg_df.to_csv('students.csv')

In [2]:
df3 = pd.read_csv('aggregated_student_data.csv')
df3.head()

,ID,A file has been uploaded.,A submission has been submitted.,A submission has been uploaded.,Activity report viewed,All the submissions are being downloaded.,An online text has been uploaded.,Attempt resumed,Badge awarded,Badge listing viewed,...,User list viewed,User logged in as another user,User logged out,User profile viewed,User report viewed,User unenrolled from course,User unenrolment updated,User updated,XLS grade exported,Zip archive of folder downloaded
0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
1,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.0,NaN,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
2,69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
agg_data = pd.read_csv('Q1_Aggregated_Student_Data.csv')
agg_data.head()

,ID,A file has been uploaded.,A submission has been submitted.,A submission has been uploaded.,Activity report viewed,All Responses report viewed,All Responses saved as text,All the submissions are being downloaded.,An online text has been uploaded.,Attempt resumed,...,User unenrolled from course,User unenrolment updated,User updated,Wiki history viewed,Wiki page created,Wiki page locks deleted,Wiki page map viewed,Wiki page updated,Wiki page viewed,Zip archive of folder downloaded
0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
agg_data['Log Count'] = agg_data.iloc[:, 1:].sum(axis=1)

In [5]:
agg_data.head()

,ID,A file has been uploaded.,A submission has been submitted.,A submission has been uploaded.,Activity report viewed,All Responses report viewed,All Responses saved as text,All the submissions are being downloaded.,An online text has been uploaded.,Attempt resumed,...,User unenrolment updated,User updated,Wiki history viewed,Wiki page created,Wiki page locks deleted,Wiki page map viewed,Wiki page updated,Wiki page viewed,Zip archive of folder downloaded,Log Count
0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4958.0
2,69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [7]:
agg_data.shape

(11736, 154)

In [6]:
new_df = agg_data[agg_data['Log Count'] != 0]
new_df.head()

,ID,A file has been uploaded.,A submission has been submitted.,A submission has been uploaded.,Activity report viewed,All Responses report viewed,All Responses saved as text,All the submissions are being downloaded.,An online text has been uploaded.,Attempt resumed,...,User unenrolment updated,User updated,Wiki history viewed,Wiki page created,Wiki page locks deleted,Wiki page map viewed,Wiki page updated,Wiki page viewed,Zip archive of folder downloaded,Log Count
1,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4958.0
10,242,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,362.0
11,286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0
12,559,NaN,NaN,NaN,6.0,5.0,4.0,5.0,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3891.0
13,588,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5282.0

In [8]:
new_df.shape

(4073, 154)